* {
    margin: 0;
    padding: 0;
}

.container {
    margin-top: 30px;
}

.form-control {
    margin-top: 100px;
    position: relative;
}

.text {
    margin-top: 10px;
    color: black;
}

.btn-add {
    background-color: rgb(96, 239, 127);
    margin-top: 10px;
    font-size: medium;
    font-weight: 500;
    margin-left: 700px;
    position: absolute;
    color: aliceblue;
    top: 120px;
    left: 500px;
}

.btn-add:hover {
    color: rgb(96, 239, 127);
    background-color: rgba(240, 248, 255, 0.598);
    cursor: pointer;
}

.btn-delete {
    background-color: rgb(235, 37, 37);
    margin-top: 10px;
    font-weight: 600;
    color: aliceblue;
    font-size: medium;
    position: absolute;
    top: 120px;
    right: 200px;
}

.btn-delete:hover {
    color: rgb(235, 37, 37);
    background-color: rgb(0, 0, 0);
    cursor: pointer;
}